<!DOCTYPE html>
<html>
    <head>
        <title>Royal Betta Farm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="../static/styles/style.css" />
    </head>
    <body>
        <input type="text" value="Search">
        <p class="sub-heading">Top Selling Breeds</p>
        <div class="container">
            <div class="items">
                <span class="item">
                    <img src="../static/Assets/Images/fish1.jpg">
                    <p>Hellboy</p>
                    <p>Price: ₹100</p>
                    <p style="color: green;">In Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish2.jpg">
                    <p>Red Koi Galaxy</p>
                    <p>Price: ₹200</p>
                    <p style="color: red;">Out of Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish3.jpg">
                    <p>Nemo Galaxy</p>
                    <p>Price: ₹250</p>
                    <p style="color: green;">In Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish4.jpg">
                    <p>Fancy</p>
                    <p>Price: ₹150</p>
                    <p style="color: green;">In Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish5.png">
                    <p>FCCP</p>
                    <p>Price: ₹250</p>
                    <p style="color: red;">Out of Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish6.jpg">
                    <p>Red Koi</p>
                    <p>Prce: ₹300</p>
                    <p style="color: green;">In Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish7.jpg">
                    <p>Multi-colour Galaxy</p>
                    <p>Price: ₹350</p>
                    <p style="color: green;">In Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish8.jpg">
                    <p>Blue Marble</p>
                    <p>Price: ₹350</p>
                    <p style="color: green;">In Stock</p>
                </span>
                <span class="item">
                    <img src="../static/Assets/Images/fish9.jpg">
                    <p>Butterfly Ohm</p>
                    <p>Price: ₹130</p>
                    <p style="color: red;">Out of Stock</p>
                </span>
            </div>
        </div>
    </body>
</html>